development: &DEV
  adapter: mysql2
  database: basic_crud
  username: root
  password:

test: &TEST
  adapter: mysql2
  database: basic_crud_test
  username: root
  password:

production:
  adapter: mysql2
  database: basic_crud_production
  username: root
  password:
